*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(189, 231, 74);
}
header{
    width: 100%;
}
header > h1{
    padding: 10%;
    letter-spacing: 9px;
    background-color: rgb(0, 19, 128);
    text-align: center;
    text-decoration: underline;
    color: green;
    text-shadow: 3px 3px 3px cyan;
    margin-bottom: 10%;
}
#container{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 4px 4px 4px;
    transition: 2s;
    background-color: rgb(51, 156, 156);
    margin-bottom: 10%;
    transition: 2s;
}

#container > img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
@media only screen and (orientation: landscape) {
    html{
        background-color: rgb(90, 209, 209);
    }
    #container{
        display: inline-block;
    }
}
@media only screen and (orientation: portrait) {
    #container:hover{
        width: 90%;
        height: 400px;
        box-shadow: 4px 5px 4px green
     }
} 
