*{
    margin: 0;
    padding: 0;
}
header{
    background-color: beige;
}
header > h3{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    text-decoration: underline;
    color: rgb(255, 0, 255);
    text-shadow: 7px 7px 7px rgb(14, 199, 199);
}
.container{
    width: 500px;
    width: 100vw;
    background-color: green;
    margin: 0 auto;
}
.container > a{
    margin-bottom: 10%;
    
}
a {
    width: 30%;
    height: auto;
    border: 1px solid black;
}
.row{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 9px;
    margin: 0 auto;
}

.row > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    
}
@media only screen and (orientation: landscape) {
    .container{
        background-color: rgb(131, 131, 44);
    }
    .container > a{
         display: inline-block;
         
    }
}